:root{
  --primary-color: #FCA311;
  --secondary-color: #e5383b;

  --text-color: #E5E5E5;
  --bg-color: #14213D;

  --container-width: 1244px;
}

[data-theme='dark']{
  --primary-color: #c76a12;
  --secondary-color: #b90f12;

  --text-color: rgb(14, 14, 14);
  --bg-color: #c2cde4;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
body a {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s;
}
body ul {
  list-style: none;
}

section {
  min-height: 80vh;
  padding: 0 1rem;
}

.hidden{
  opacity: 0;
  transform: translateX(-100%);
  transition: 1s ease;
}

.show{
  opacity: 1;
  transform: translateX(0);
}

.header {
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1244px;
  margin: 0 auto;
  padding: 0 0.7rem;
}

.header__logo {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.header__navbar ul {
  height: 100%;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header__navbar ul li {
  margin: 0.1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.header__navbar ul li .active {
  color: var(--primary-color);
}

.header__navbar ul li a:hover {
  color: var(--primary-color);
}

.section-title{
  width: 100%;
  text-align: center;
  font-size: 37px;
  font-weight: bold;
  padding: 2.5rem 1.5rem;
}

.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1244px;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  padding: 0 1.5rem;
  margin-top: 1.5rem;
  gap: 0.5rem;
}

.inicio__btn {
  max-width: 500px;
  width: 100%;
  min-height: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 4px;
  transition: 0.2s;
}

.inicio__btn:hover {
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--bg-color);
  word-spacing: 4px;
}

.problema__title {
  text-align: center;
  font-size: 37px;
  font-weight: bold;
  padding: 1.5rem 0 2.5rem 0;
}

.problema .cards {
  max-width: 1244px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  min-height: 390px;
}

.problema .cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 33%;
  min-height: 300px;
  text-align: center;
  border: 1px solid var(--text-color);
  border-radius: 7px;
  gap: 0.7rem;
  padding: 0.4rem;
  transition: 0.2s ease;
}

.problema .cards .card__title {
  font-size: 22px;
}

.problema .cards .card__text {
  font-size: 16px;
}

.proposta__title {
  text-align: center;
  font-size: 37px;
  font-weight: bold;
  padding: 1.5rem 0 2.5rem 0;
}

.proposta .solucoes {
  max-width: 80%;
  margin: 0 auto;
}

.proposta .solucoes .solucao {
  width: 80%;
  height: clamp(150px, 150px, 180px);
  border: 2px solid var(--text-color);
  padding: 0.8rem;
  transition: 0.3s ease;
}

.proposta .solucoes .solucao:nth-child(2) {
  margin: 1.5rem 0 1.5rem auto;
}

.proposta .solucoes .solucao__title {
  font-size: 22px;
}

.proposta .solucoes .solucao__title:nth-child(2) {
  margin-left: auto;
}

.proposta .solucoes .solucao--reverso .solucao__title {
  display: flex;
  flex-direction: row-reverse;
}

.footer {
  display: flex;
  justify-content: space-around;
  max-width: 1244px;
  margin: 0 auto;
  padding: 1rem 0;
  margin-top: 50px;
  text-align: center;
}
.footer__list a:hover {
  color: #e5383b;
}

@media (min-width: 600px) {
  .problema .cards .card:hover {
    min-height: 390px;
    background-color: var(--text-color);
    color: var(--bg-color);
  }

  .proposta .solucoes .solucao:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    width: 100%;
  }

}

@media (max-width: 600px) {
  .problema .cards {
    flex-direction: column;
  }
  .problema .cards .card {
    max-width: 100%;
  }
  .proposta .solucoes {
    max-width: 100%;
    margin: 0;
  }
  .proposta .solucoes .solucao {
    width: 100%;
    text-align: center;
  }
  .proposta .solucoes .solucao--reverso .solucao__title {
    display: block;
  }
}
@media (max-width: 428px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
